button.adopt-btn, .adopt-btn {
  border: none;
  border-radius: 10px;
  background-color: #267822;
  color: white;
  font-size: 10px;
  font-weight: 500;
  box-shadow: 0 1px 4px rgba(38,120,34,0.08);
  margin-left: 0;
  padding: 4px 12px;
  transition: background 0.2s;
}
button.adopt-btn:disabled, .adopt-btn:disabled {
  background-color: #aaa;
  color: white;
}
