/* Error: Undefined variable.
 *     ,
 * 120 |      color: $txt-color;
 *     |             ^^^^^^^^^^
 *     '
 *   /Volumes/Catalina ssd/Applications/MAMP/htdocs/eky/src/sass/partials/fonts.scss 120:13  root stylesheet */

/* Removed error overlay that was causing a white stripe above header */
