@use "variables";
@font-face {
  font-family: 'sharedog-icon';
  src:  url('~./../../public/fonts/sharedog-icon.eot');
  src:  url('~./../../public/fonts/sharedog-icon.eot#iefix') format('embedded-opentype'),
    url('~./../../public/fonts/sharedog-icon.woff') format('woff'),
    url('~./../../public/fonts/sharedog-icon.ttf') format('truetype'),
    url('~./../../public/fonts/sharedog-icon.svg#sharedog-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sharedog-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sharedog-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sharedog-Add-dog:before {
  content: "\e900";
}
.sharedog-Bin:before {
  content: "\e901";
}
.sharedog-Camera:before {
  content: "\e902";
}
.sharedog-Close:before {
  content: "\e903";
}
.sharedog-Gear:before {
  content: "\e904";
}
.sharedog-Hamby:before {
  content: "\e905";
}
.sharedog-Heart:before {
  content: "\e906";
}
.sharedog-Home:before {
  content: "\e907";
}
.sharedog-Left-arrow:before {
  content: "\e908";
}
.sharedog-Location:before {
  content: "\e909";
}
.sharedog-Login:before {
  content: "\e90a";
}
.sharedog-Logout:before {
  content: "\e90b";
}
.sharedog-Message:before {
  content: "\e90c";
}
.sharedog-Paw:before {
  content: "\e90d";
}
.sharedog-Reply:before {
  content: "\e90e";
}
.sharedog-Right-arrow:before {
  content: "\e90f";
}
.sharedog-Search:before {
  content: "\e910";
}
.sharedog-Share:before {
  content: "\e911";
}
.sharedog-User:before {
  content: "\e912";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  // font-family: "Lao MN", serif;
  text-align: center;
  color: variables.$txt-color;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
p {
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
  line-height: 2.1rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
  background: #42210b;
  background: -webkit-linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  background: -moz-linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  background: linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 1.6rem;
  // font-weight:normal;
}
header h1 {
  margin-top: 1rem;
}
h1.extra-large {
  margin: 0;
  padding: 0;
  font-size: 8.8rem;
  font-family: "Lao MN", serif;
  text-align: center;
  background: #42210b;
  background: -webkit-linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  background: -moz-linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  background: linear-gradient(to top, #42210b 0%, #b16c2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sharedog-icon {
  padding: 0.5rem;
  // font-size: 3rem;
}
.meta {
  font-size: 1.8rem;
  color: #666;
}

#footer-nav ul .sharedog-icon{
  font-size: 2.5rem;
}
