body {
  height: 100%;

  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Removed user-select: none to allow input interactivity */
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
