@use 'partials/reset';
@use 'partials/layout';
@use 'partials/variables';
@use 'partials/fonts';
@use 'partials/mixins';
@use 'partials/chat-icon';
@use 'partials/adopt-btn';
@use 'partials/modal-styles';
@use 'partials/chat-styles';
@use 'partials/card-styles';
@use 'partials/header-styles';
@use 'partials/footer-styles';
