@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/eky\/client\/src\/sass\/partials\/reset\.scss}line{font-family:\000031}}
body {
  height: 100%;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/eky\/client\/src\/sass\/partials\/reset\.scss}line{font-family:\000037}}
html {
  height: 100%;
  font-size: 62.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/eky\/client\/src\/sass\/partials\/reset\.scss}line{font-family:\0000311}}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Removed user-select: none to allow input interactivity */ }

input, textarea, select {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/eky\/client\/src\/sass\/partials\/reset\.scss}line{font-family:\0000320}}
ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/eky\/client\/src\/sass\/partials\/reset\.scss}line{font-family:\0000323}}
a {
  text-decoration: none; }
