

.dog-image-slider .swiper-button-next {
  top: 50% !important;
  right: 32px !important;
  left: auto !important;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  color: #fff;
  background: none;
  border: none;
  box-shadow: none;
  opacity: 1;
}

.dog-image-slider .swiper-button-prev {
  top: 50% !important;
  left: 32px !important;
  right: auto !important;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  color: #fff;
  background: none;
  border: none;
  box-shadow: none;
  opacity: 1;
}

.dog-image-slider .swiper-button-next:hover,
.dog-image-slider .swiper-button-prev:hover {
  background: #222;
  color: #fff;
}


@media (max-width: 768px) {
  .dog-image-slider .swiper-button-next {
    width: 44px;
    height: 44px;
    font-size: 28px;
    right: 18px !important;
    left: auto !important;
    background: none;
    border: none;
    box-shadow: none;
  }
  .dog-image-slider .swiper-button-prev {
    width: 44px;
    height: 44px;
    font-size: 28px;
    left: 18px !important;
    right: auto !important;
    background: none;
    border: none;
    box-shadow: none;
  }
}

.dog-image-slider .swiper-button-next:after,
.dog-image-slider .swiper-button-prev:after {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 2px 8px rgba(0,0,0,0.25);
}
